<table class="table table-striped table-hover">
    <tr>
        {{#headers}}
            <th>{{.}}</th>
        {{/headers}}
    </tr>
    {{#data}}
        <tr>
            <td>
                <table class="table table-compact">
                    <tr><th>Node</th><td>{{node_key}}</td></tr>
                    <tr><th>Model</th><td>{{model_name}}</td></tr>
                    <tr><th>User</th><td>{{user_key}}</td></tr>
                    <tr><th>Prompt</th><td>{{prompt_key}}</td></tr>
                    <tr><th>Stats</th><td>{{input_tokens}}/{{output_tokens}}; {{elapsed_seconds}}s</td></tr>
                    <tr><th>Created</th><td>{{created_ts}}</td></tr>
                    <tr><th>Updated</th><td>{{updated_ts}}</td></tr>
                </table>
            </td>
            <td>{{raw_input}}</td>
            <td><pre>{{infer_input}}</pre></td>
            <td>{{response}}</td>
            <td>{{score}}</td>
            <td>{{feedback}}</td>
        </tr>
    {{/data}}
</table>
