<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col"><div class="node-name"><h4>Llama: <i>{{nodeName}}</i></h4></div></div>
            <div class="col">Queue active: <b>{{worker_started}}</b></div>
        </div>
        Switch model: 
        <select class="custom-select">
            {{#models}}
            <option value="{{name}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/models}}
        </select>
<div class="row">
    <div class="col">
        <table class="table table-sm sysinfo-table table-borderless">
            <tr><th>24h requests</th><td>{{infer_stats.record_count}}</td></tr>
            <tr><th>24h input tokens</th><td>{{infer_stats.sum_input_tokens}}</td></tr>
            <tr><th>24h output tokens</th><td>{{infer_stats.sum_output_tokens}}</td></tr>
        </table>
    </div>
    <div class="col">
        <table class="table table-sm sysinfo-table table-borderless">
            <tr><th>24h Utility</th><td>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" 
                        style="width: {{infer_stats.pct_used_seconds}}%" aria-valuenow="{{infer_stats.pct_used_seconds}}" 
                        aria-valuemin="0" aria-valuemax="100" title="Used: {{infer_stats.sum_elapsed_seconds}} GB"></div>
                    <div class="progress-bar bg-success" role="progressbar" 
                        style="width: {{infer_stats.pct_unused_seconds}}%" aria-valuenow="{{infer_stats.pct_unused_seconds}}" 
                        aria-valuemin="0" aria-valuemax="100" ></div>
                </div>            
            </td></tr>
            <tr><th>24h elapsed time</th><td>{{infer_stats.sum_elapsed_seconds}} sec</td></tr>
            <tr><th>24h average time per request</th><td>{{infer_stats.average_elapsed_seconds}} sec</td></tr>
        </table>
    </div>
</div>
{{#system_stats}}
<div class="row">
    <div class="col">
        <table class="table table-sm sysinfo-table table-borderless">
            <tbody>
                <tr><th>CPU Utilization</th><td>{{system_stats.cpu_utilization}}%</td></tr>
                <tr><th>Disk</th><td>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" 
                            style="width: {{system_stats.disk_pct_used}}%" aria-valuenow="{{system_stats.disk_pct_used}}" 
                            aria-valuemin="0" aria-valuemax="100" title="Used: {{system_stats.disk_used}} GB"></div>
                        <div class="progress-bar bg-success" role="progressbar" 
                            style="width: {{system_stats.disk_pct_free}}%" aria-valuenow="{{system_stats.disk_pct_free}}" 
                            aria-valuemin="0" aria-valuemax="100" title="Free: {{system_stats.disk_free}} GB"></div>
                    </div>
                </td></tr>
                <tr><th>Memory (non GPU)</th><td>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" 
                            style="width: {{system_stats.memory_pct_used}}%" aria-valuenow="{{system_stats.memory_pct_used}}" 
                            aria-valuemin="0" aria-valuemax="100" title="Used: {{system_stats.memory_used}} GB"></div>
                        <div class="progress-bar bg-success" role="progressbar" 
                            style="width: {{system_stats.memory_pct_free}}%" aria-valuenow="{{system_stats.memory_pct_free}}" 
                            aria-valuemin="0" aria-valuemax="100" title="Free: {{system_stats.memory_free}} GB"></div>
                    </div>
                </td></tr>
                <tr><th>Swap Usage</th><td>{{system_stats.swap_usage}} GB</td></tr>
                <tr><th>System Load</th><td>{{system_stats.system_load}}</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <table class="table table-sm sysinfo-table table-borderless">
            <tbody>
            {{#system_stats.gpu_info}}
                <tr><th>GPU Name</th><td>{{gpu_name}}</td></tr>
                <tr><th>Use of {{total}} GB</th><td>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" 
                            style="width: {{gpu_pct_used}}%" aria-valuenow="{{gpu_pct_used}}" 
                            aria-valuemin="0" aria-valuemax="100" title="Used: {{used}} GB"></div>
                        <div class="progress-bar bg-success" role="progressbar" 
                            style="width: {{gpu_pct_free}}%" aria-valuenow="{{gpu_pct_free}}" 
                            aria-valuemin="0" aria-valuemax="100" title="Free: {{free}} GB"></div>
                    </div>
                </td></tr>
                <tr><th>Reserved</th><td>{{reserved}} GB</td></tr>
            {{/system_stats.gpu_info}}
            </tbody>
        </table>
    </div>
</div>
{{/system_stats}}


    </div>
</div>
